<div class="interstial-screen intro">
	<div class="icon intro"></div>
	<h1>Welcome to the Test!</h1>
	<p>Please stay within the browser window throughout the test, or the test may fail. This test will record your results to share with you as well as participants of openwebgames.com. The results are technical and non-personal, which may be shared with game publishers, browser vendors, and game developers to continue improving the web games platform. You can view a sample of data collected <a ng-click="showSampleResults()">here</a>. You'll also be able to view and save your results when the test is complete.</p>
	<div class="mobile-info">
		<svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="60" height="60" viewBox="0 0 84.6 78.5" xml:space="preserve">
			<g>
				<path fill="none" stroke="#FFFFFF" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" d="M53.8,32.1 c-2.5-2.6-6-4.2-10-4.2l0,0c-7.7,0-13.9,6.2-13.9,13.9l0,0"/>
				<path fill="none" stroke="#FFFFFF" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" d="M33.4,51 c2.5,2.9,6.2,4.7,10.4,4.7l0,0c7.7,0,13.9-6.2,13.9-13.9l0,0"/>
				<g>
					<polyline fill="none" stroke="#FFFFFF" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" points="34.9,37.9 29.9,42.3 25.3,37.9"/>
				</g>
				<g>
					<polyline fill="none" stroke="#FFFFFF" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" points="52.7,44.8 57.8,41.1 61.7,45.6 "/>
				</g>
			</g>
			<g>
				<g>
					<line fill="none" stroke="#FFFFFF" stroke-linecap="square" stroke-linejoin="round" x1="46.9" y1="77.4" x2="47.9" y2="77.4"/>
					<path fill="none" stroke="#FFFFFF" stroke-linecap="square" stroke-linejoin="round" stroke-dasharray="1.9437,4.8593" d="M52.7,77.4h23.4c4.4,0,8-3.6,8-8v-27c0-4.4-3.6-8-8-8H65.5"/>
					<line fill="none" stroke="#FFFFFF" stroke-linecap="square" stroke-linejoin="round" x1="63.1" y1="34.4" x2="62.1" y2="34.4"/>
				</g>
			</g>
			<g>
				<g>
					<line fill="none" stroke="#FFFFFF" stroke-linecap="square" stroke-linejoin="round" x1="73.5" y1="46.4" x2="73.5" y2="47.4"/>
						<line fill="none" stroke="#FFFFFF" stroke-linecap="square" stroke-linejoin="round" stroke-dasharray="1.7876,4.469" x1="73.5" y1="51.9" x2="73.5" y2="62.2"/>
					<line fill="none" stroke="#FFFFFF" stroke-linecap="square" stroke-linejoin="round" x1="73.5" y1="64.4" x2="73.5" y2="65.4"/>
				</g>
			</g>
			<path fill="none" stroke="#FFFFFF" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" d="M43.5,19.9V8.5 c0-4.4-3.6-8-8-8h-27c-4.4,0-8,3.6-8,8V70c0,4.4,3.6,8,8,8h27c4.4,0,8-3.6,8-8v-6.6"/>
			<line fill="none" stroke="#FFFFFF" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" x1="12.9" y1="11.1" x2="31.1" y2="11.1"/>
		</svg>
		<p>Rotate your phone to see the <br>full frame of each demo.</p>
	</div>
	<a class="btn" ng-click="restart()">Continue</a>
</div>
