// Make Diagnostics not centered
.view-diagnostics {
	top: 0 !important;
	transform: translateY(0%) !important;
	margin-top: 100px !important;
	margin-bottom: 100px !important; 
	@media only screen and (max-width : $mobile-screen-size) {
		margin-top: 50px;
		padding-top: 0px !important;
	}
}