.view-features {

	.wrapper {
		max-width: 1200px;
		margin: 0 auto;
		@include clearfix;
		&.browsers {
			@media only screen and (max-width : $mobile-screen-size) {
				.feature-set {
					&:nth-last-child(3) {
						padding-top: 91px;
						min-height: 190px;
						.icon-wrapper {
							top: 110px !important;
						}
						.btn.plus-icon {
							margin-top: 50px;
						}
						.dropdown {
							top: 97px;
							ul {
								li {
									span {
										&.game {
											display: none;
										}
										&.browser {
											border-bottom: 0;
										}
									}
								}
							}
							&:before {
								border-bottom: 1px solid $teal;
								left: -45px;
							}
						}
						&:before {
							content: 'Dev-only browsers';
							font-size: 20px;
							letter-spacing: .16em;
							font-weight: 100;
							position: absolute;
							top: 50px;
							width: 100vw;
							text-align: center;
							text-transform: uppercase;
							border: none;
							height: auto;
							padding-bottom: 20px;
							border-bottom: 1px solid $teal; 

						}
					}
				}
			}
		}
		&.games {
			@media only screen and (max-width : $mobile-screen-size) {
				.dropdown {
					.list-wrapper {
						ul {
							li {
								span {
									&.browser {
										display: none;
									}
								}
							}
						}
					}
				}
			}
		}
		&.show-test-results.games {
			@media only screen and (max-width : $mobile-screen-size) {
				.msg-results {
					.btn {
						margin-top: 20px !important;
					}
				}
				.feature-set {
					min-height: 180px;
					&:before {
						height: 100%;
					}
				}
				.dropdown {
					margin-top: 70px;
					&:before {
						top: -154px;
					}
				}
				.test-result {
				    left: 15px;
				    top: 90px;
				    width: 100vw;
				    height: 50px;
				    margin-left: 30px;
				}
			}
		}
	}

	nav {
		text-align: center;
		margin-bottom: 50px;
		position: relative;
		z-index: 10;
		ul {
			@extend .list-unstyled;
			li {
				@extend %nav-button-inline;
				display: inline-block;
			}
		}
		@media only screen and (max-width : $mobile-screen-size) {
			display: none;
			float: right;
			width: 100%;
			margin: 30px auto 30px;
			ul {
				width: 282px;
				height: 39px;
				margin: 0 auto;
				li {
					text-align: center;
					margin-left: 30px;
					float: left;
					border-bottom: 0px;
					&:hover {
						color: #fff;
					}
				}
			}
		}
	}

	.dropdown {
		display: none;
		height: 0px;
		width: 0;
		overflow: hidden;
		@media only screen and (max-width : $mobile-screen-size) {
			display: auto;
			height: 0;
			width: 100%;
			position: relative;
			top: 75px;
			left: 45px;
			overflow: visible;
			&:before {
				@include transition(all .3s);
				content: '';
				position: absolute;
				top: -86px;
				left: -45px;
				height: 91px;
				width: 100%;
				opacity: 0;
				z-index: -1;
				background: -moz-linear-gradient(left, rgba(0,240,255,0) 0%, rgba(0,240,255,.2) 20%, rgba(0,240,255,.2) 80%, rgba(0,240,255,0) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(left, rgba(0,240,255,0) 0%,rgba(0,240,255,.2) 20%,rgba(0,240,255,.2) 80%,rgba(0,240,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to right, rgba(0,240,255,0) 0%,rgba(0,240,255,.2) 20%,rgba(0,240,255,.2) 80%,rgba(0,240,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000f0ff', endColorstr='#0000f0ff',GradientType=1 ); /* IE6-9 */
			}
			&.in {
				min-height: 1180px;
				&:before {
					opacity: 1;
				}
			}
		}
		.list-wrapper {
			display: inline-block;
			width: 100%;
			float: left;
			cursor: default;
			position: relative;
			ul {
				@extend .list-unstyled;
				display: inline-block;
				position: relative;
				@media only screen and (max-width : $mobile-screen-size) {
					width: 100%;
					margin-bottom: 40px;
				}
				li {
					position: relative;
					& > span {
						display: inline-block;
						color: #adc0c9;
						font-weight: $body;
						position: relative;
						width: 300px;
						letter-spacing: .025em;
						@media only screen and (max-width : $mobile-screen-size) {
							height: auto;
							left: 70px;
							width: 100%;
							border-bottom: 1px solid #adc0c9;
							border-radius: 0;
							padding: 5px 0;
							&.browser, &.game {
								width: 10px;
								height: 10px;
								position: absolute;
								top: 35%;
								left: 80%;
								border-radius: 50%;
								border-bottom: none;
							}
							&.supported {
								background: $green;
							}
							&.not-supported {
								background: $red;
							}
							&.in-use {
								background: #fff;
							}
							&.not-in-use {
								border-color: #fff;
								opacity: 0.5;
								border: 1px solid #adc0c9;
							}
						}
						&.new {
							@media only screen and (min-width : $mobile-screen-size) {
								display: inline-block;
								color: $blue;
								margin-left: 10px;
								font-weight: $headline;
								border: 1px solid transparent;
								border-radius: 20px;
								padding: 0 8px;
								font-size: 12px;
								@include transition(border .8s);
								&:after {
									@include transition(opacity .8s);
									opacity: 0;
									content: ' Future';
									font-weight: $body;
									color: #fff;
								}
							}
							@media only screen and (max-width : $mobile-screen-size) {
								&:before {
									content: 'New';
									font-size: 14px;
									position: absolute;
									top: 6px;
									left: -70px;
									border: 1px solid $teal;
									padding: 3px 15px;
									border-radius: 50px;
								}
							}
						}
						
					}
					&.section-title {
						@media only screen and (max-width : $mobile-screen-size) {
							span {
								left: 0;
								font-weight: 300;
								font-family: $font-family-sans-serif;
								letter-spacing: .16em;
							}
						}
					}
					
				}
			}
			@media only screen and (max-width : $mobile-screen-size) {
				display: inline;
				flex-flow: none;
				top: 25px;
			}
			.section-title {
				position: relative;
				span {
					color: #fff;
					opacity: 1;
					font-weight: $headline;
					text-transform: uppercase;
					letter-spacing: .0145em;
				}
			}
		}
	}
	.table-wrapper {
		@include make-sm-column(9);
		position: relative;
		z-index: 1;
	}

	.swoosh {
		width: 95%;
		height: 17px;
		position: absolute;
		bottom: 10px;
		left: 25px;
		overflow: hidden;
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 30px;
		  right: -1px;
		  height: 1px !important;
		  background-image: -webkit-gradient(linear, 50% 0, 100% 0, from($teal), to(transparent));
		  background-image: -webkit-linear-gradient(left, $teal 50%, transparent 100%);
		  background-image: -moz-linear-gradient(left, $teal 50%, transparent 100%);
		  background-image: -o-linear-gradient(left, $teal 50%, transparent 100%);
		}
		div {
			height: 17px;
			width: 40px;
			overflow: hidden;
			position: relative;
			&:before {
				content: '';
				height: 50px;
				width: 150%;
				position: absolute;
				left: 0;
				bottom: 0;
				border-radius: 18px;
				border-bottom: 1px solid $teal;
				border-left: 1px solid $teal;
				border-width: 1px !important;
			}
		}
		@media only screen and (max-width : $mobile-screen-size) {
			display: none;
		}
	}

	.btn.plus-icon {
		display: none;
		@media only screen and (max-width : $mobile-screen-size) {
			position: absolute;
			float: right;
			right: 45px;
			display: inline-block;
			width: 25px;
			height: 25px;
			padding: 0;
			border: none;
			margin: 32px 0 0 10px;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-webkit-backface-visibility: hidden;
			background: none;
			z-index: 2;
			
			&:hover {
				&:after {
					background: none;
				}
			}
			.horz, .vert {
				width: 25px;
				height: 1px;
				background-color: #fff;
			}
			.vert {
				transform: rotate(0deg);
				transition: 0.5s;
				opacity: 0;
			}
			&.collapsed {
				.vert {
					transform: rotate(90deg);
					transition: 0.5s;
					opacity: 1;
				}
			}
		}
	}

	$col-width: 34.5px;
	.header {
		height: 130px;
		display: flex;
		flex-flow: row nowrap;
		width: 100%;
		float: left;
		cursor: default;
		@media only screen and (max-width : $mobile-screen-size) {
			display: none;
		}
		.current-browser {
			padding-top: 70px;
			min-width: 100px;
			text-align: center;
			font-weight: $headline;
			float: left;
			.browser-version {
				margin-top: -3px;
				font-weight: $body;
			}
		}
		.list-wrapper {
			display: flex;
			float: left;
			cursor: default;
			position: relative;
			margin-left: 15px;
			ul {
				@extend .list-unstyled;
				flex: 1 auto;
				display: flex;
				position: relative;
				float: left;
				height: 120px;
				li {
					flex: 1 auto;
					width: $col-width;
					position: relative;
					height: 0; // so the <li> elements don't overlap the slanted text
					& > span {
						@include rotate(-45deg);
						display: inline-block;
						color: #adc0c9;
						font-weight: $body;
						position: relative;
						width: 300px;
						top: -35px;
						left: -40px;
						letter-spacing: .025em;
						&.browser, &.game {
							display: none;
						}
						.new {
							display: inline-block;
							color: $blue;
							margin-left: 10px;
							font-weight: $headline;
							border: 1px solid transparent;
							border-radius: 20px;
							padding: 0 8px;
							font-size: 12px;
							@include transition(border .8s);
							&:after {
								@include transition(opacity .8s);
								opacity: 0;
								content: ' Future';
								font-weight: $body;
								color: #fff;
							}
						}
						&:hover {
							.new {
								border-color: $teal;
								&:after {
									opacity: 1;
								}
								@media only screen and (max-width : $mobile-screen-size) {
									background: transparent;
									&:after {
										opacity: 0;
									}
								}
							}

						}
					}
					.section-title {
						span {
							@include rotate(0);
							color: #fff;
							left: auto;
							width: 100%;
							&:first-child {
								font-weight: $headline;
							}
						}
					}
				}
			}
			.section-title {
				position: relative;
				span {
					color: #fff;
					opacity: 1;
					font-weight: $headline;
					text-transform: uppercase;
					letter-spacing: .0145em;
				}
			}
		}
	}

	$highlight-bg: rgba($teal, .1);
	$img-width: 80px;
	.body {
		clear: both;
		.js-column {
			@media only screen and (max-width : $mobile-screen-size) {
				display: none !important;
			}
		}
		.feature-set {
			display: flex;
			width: 100%;
			margin-top: 20px;
			@media only screen and (max-width : $mobile-screen-size) {
				padding: 10px 0;
				font-weight: $headline;
				font-size: 20px;
				width: 100vw;
				position: relative;
				min-height: 91px;
				overflow: hidden;
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					border-top: 1px solid $teal;
					border-bottom: 1px solid $teal;
					width: 100%;
					height: 91px;
				}
			}
			@media only screen and (max-width : $mobile-screen-size) and (min-width: $screen-sm) {
				margin: -1px  0 0 -10.25%;
			}
			@media screen and (max-width: $screen-xs-max) and (min-width: $screen-xs) {
				margin: -1px  0 0 -8.5%;
			}
			@media screen and (max-width: ($screen-xs - 1)) {
				margin: -1px  0 0 -10%;
			}
			img {
				width: 70px;
			}
			& > div:not(.etc, .dropdown, .title) {
				display: flex;
				width: $col-width;
				position: relative;
				align-items: center;
				justify-content: center;
				align-content: center;
				@media only screen and (max-width : $mobile-screen-size) {
					display: none;
				}
				&:first-child {
					position: relative;
					text-align: center;
					width: 100px;
					@media only screen and (max-width : $mobile-screen-size) {
						width: auto;
						position: absolute;
						top: 10px;
						display: block;
					}
					span {
						@include rotate(0);
						position: relative;
						color: #fff;
						left: auto;
						width: 100%;
						&:first-child {
							font-weight: $headline;
						}
					}
				}
				span {
					$circle-size: 10px;
					display: inline-block;
					border: 1px solid transparent;
					width: $circle-size;
					height: $circle-size;
					border-radius: $circle-size;
					background: transparent;
					&.supported {
						background: $green;
					}
					&.not-supported {
						background: $red;
					}
					&.in-use {
						background: #fff;
					}
					&.not-in-use {
						border-color: #fff;
						opacity: 0.5;
					}
				}
			}
		}
		.your-browser {
			position: relative;
			padding-bottom: 10px;
			margin-top: 0;
			img {
				border: 0;
				border-radius: none;
				@media only screen and (max-width : $mobile-screen-size) {
					margin-left: 42px;
					margin-top: 5px;
					height: 60px;
					width: 60px;
				}
			}
			.title {
				display: none;
				@media only screen and (max-width : $mobile-screen-size) {
					display: inline-block;
					width: 100%;
					position: absolute;
					top: 50px;
					color: #fff;
					opacity: 1;
					text-align: left;
					padding-left: 115px;
					span {
						width: 100%;
						height: auto;
					}
				}
			}
			.highlight {
				overflow: hidden;
				height: 100%;
				width: 100%;
				position: absolute;
				left: 0;
				&:after {
					z-index: -1;
					content: '';
					display: block;
					position: absolute;
					bottom: -30px;
					left: 13.5%;
					width: 73%;
					height: 0;
					box-shadow: 0 0 35px 100px $highlight-bg;
				}
				@media only screen and (max-width : $mobile-screen-size) {
					display: none;
				}
			}
			div.swoosh {
				bottom: -15px;
				right: auto;
				left: 0;
				position: absolute;
				width: 103%;
				&:after {
					top: 0;
					bottom: auto;
				}
				div {
					&:before {
						top: 0;
						bottom: auto;
						border: 0;
						border-top: 1px solid $teal;
						border-left: 1px solid $teal;
					}
				}
			}
		}
		.test-result {
			display: none;
			position: absolute;
			right: -240px;
			width: 200px;
			$fps-size: 60px;

			@mixin test-result($color) {
				.fps {
					border-color: $color;
					box-shadow: 0 0 10px rgba($color, .5);
					span {
						color: $color;
						span {
							color: #fff;
							&:after {
								background: $color;
							}
						}
					}
				}
			}

			ul {
				@extend .list-unstyled;
				margin-top: 8px;
				.fps {
					border: 1px solid transparent;
					border-radius: $fps-size;
					width: $fps-size;
					height: $fps-size;
					line-height: $fps-size;
					text-align: center;
					float: left;
					span {
						font-size: 22px;
						color: transparent;
						span {
							color: #fff;
							position: relative;
							font-size: 13px;
							top: -5px;
							left: 1px;
							&:after {
								content: '';
								display: block;
								position: absolute;
								bottom: 2px;
								left: 0;
								height: 1px;
								width: 100%;
							}
						}
					}
				}
				.meta {
					font-size: 12px;
					float: left;
					margin: 12px 0 0 15px;
				}
			}
			&.test-success {
				@include test-result($green);
			}
			&.test-timeout {
				@include test-result($yellow);
			}
			&.test-failed {
				@include test-result($red);
			}
		}
		& > div.swoosh {
			bottom: -22px;
		}
		.icon-wrapper {
			&:hover {
				.icon {
					@include scale(.9);
					opacity: .5;
					@media only screen and (max-width : $mobile-screen-size) {
						@include scale(1);
						opacity: 1;
					}
				}
				.title {
					opacity: 1;
				}
			}
			@media only screen and (max-width : $mobile-screen-size) {
				position: absolute;
				top: 15px;
				left: 42px;
				.icon {
					width: 60px;
					height: 60px;
					margin-top: 5px;
				}
				.title {
					opacity: 1;
					left: 75px;
					top: 36px;
					min-width: 250px;
					text-align: left;
					position: absolute;
					span, br {
						display: none !important;
					}
				}
			}
			@media only screen and (max-width : $screen-xs-max) {
				.title {
					min-width: 250%;
				}
			}
		}
		.icon {
			@include transition(transform .3s, opacity .3s);
			width: 70px;
			height: 70px;
			border-radius: 70px;
			background-size: cover;
			border: 2px solid #ccc;
			margin: 0 auto;
			@media only screen and (max-width : $mobile-screen-size) {
				margin: 0;
			}
		}
		.browsers {
			.icon {
				border: none;
			}
		}
		.title {
			@include transition(opacity .5s);
			@include vertical-align(absolute);
			opacity: 0;
			width: 100%;
			display: block;
			text-align: center;
			line-height: 1.2;
			left: 0;
			margin: 0 auto;
			cursor: default;
			span {
				font-size: 13px;
			}
		}
	}

	aside {
		@include make-md-column(2.75);
		@include make-md-column-push(.25);
		margin-top: 75px;
		float: right !important;
		@media only screen and (max-width : $mobile-screen-size) and (min-width: $screen-sm){
			width: 50%;
			left: 25%;
		}
		@media only screen and (max-width : $mobile-screen-size) {
			text-align: center;
			margin-top: 0;
			float: none !important;
			margin-bottom: 50px;
			.btn {
				&:before {
					display: none;
				}
			}
		}
		nav {
			display: none;
			@media only screen and (max-width : $mobile-screen-size) {
				display: inline-block;
				z-index: 1;
			}
		}
		h2 {
			font-weight: $headline;
			@media only screen and (max-width : $mobile-screen-size) {
				font-size: 24px;
			}
		}
		p {
			margin: 20px 0 25px;
			font-size: 14px;
			@media only screen and (max-width : $mobile-screen-size) {
				margin: 20px 0 35px;
			}
		}
		.msg-results {
			display: none;
			position: relative;
			margin-top: 0;
			h2 {
				svg {
					display: inline-block;
					width: 15px;
					height: auto;
					margin-left: 10px;
					position: relative;
					z-index: 2;
					path, g {
						stroke: $orange;
					}
				}
			}
			&.show-definitions {
				path, g {
					stroke: #fff;
				}
			}
		}
	}

	// Tooltips
	.popover {
		@include transition(all .3s);
		background: rgba($blue-dark, .9);
		border: 1px solid rgba($teal, .4);
		border-radius: 10px;
		width: 100%;
		padding: 20px 25px;
		z-index: -1;
		font-size: 13px;
		position: absolute;
		top: -255%;
		left: -10%;
		opacity: 0;
		height: 0px;
		overflow: hidden;
		@media only screen and (max-width : $mobile-screen-size) {
			left: 0;
			top: -30px;
			right: 0;
			margin: 0 auto;
			&:before {
				content: '×';
				font-size: 40px;
				padding-top: 1px;
				padding-left: 2px;
				font-weight: $body;
				display: block;
				color: #fff;
				line-height: .8;
				border: 1px solid $orange;
				text-align: center;
				height: 35px;
				width: 35px;
				background: transparent;
				position: absolute;
				right: 15px;
				top: 15px;
			}
			@media only screen and (orientation: landscape){
				max-width: 400px;
			}
		}
		dl {
			margin: 0;
		}
		dd {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.show-definitions {
		.popover {
			opacity: 1;
			height: auto;
			z-index: 11;
		}
	}

	// View States
	.wrapper.show-test-results {
		&.games {
			.body {
				.test-result {
					display: block;
				}
				div.swoosh {
					width: 125% !important;
				}
			}
			aside {
				div:not(.popover) {
					display: none;
				}
				.msg-results {
					display: block !important;
					margin-top: 0;
					z-index: 2;
					a {
						margin-top: 0 !important;
					}
				}
			}
		}
	}

	.highlight-container {
		$highlight-size: 32px;

		position: absolute;
		left: 0;
		top: 0;

		width: 100%;
		height: 100%;

		z-index: -1;

		&.wide {
			width: 125%;
			@media only screen and (max-width : $mobile-screen-size) {
				width: 100%;
			}
		}

		.highlight {
			@include transition(opacity 0.3s);

			position: absolute;
			top: 0;
			left: 0;
			background: $teal;
			opacity: 0.15;
			@media only screen and (max-width : $mobile-screen-size) {
				display: none;
			}
		}

		.highlight-row {
			width: 100%;
			height: $highlight-size;
			margin-top: -($highlight-size * 0.5);

			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,00f0ff+0,00f0ff+100&0+0,1+10,1+90,0+100 */
			background: -moz-linear-gradient(left, rgba(0,240,255,0) 0%, rgba(0,240,255,1) 10%, rgba(0,240,255,1) 90%, rgba(0,240,255,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left, rgba(0,240,255,0) 0%,rgba(0,240,255,1) 10%,rgba(0,240,255,1) 90%,rgba(0,240,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right, rgba(0,240,255,0) 0%,rgba(0,240,255,1) 10%,rgba(0,240,255,1) 90%,rgba(0,240,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000f0ff', endColorstr='#0000f0ff',GradientType=1 ); /* IE6-9 */
		}

		.highlight-column {
			height: 100%;
			width: $highlight-size;

			margin-top: 45px;
			margin-left: -($highlight-size * 0.5);

			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,00f0ff+0,00f0ff+100&0+0,1+10,1+90,0+100 */
			background: -moz-linear-gradient(top, rgba(0,240,255,0) 0%, rgba(0,240,255,1) 10%, rgba(0,240,255,1) 90%, rgba(0,240,255,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(0,240,255,0) 0%,rgba(0,240,255,1) 10%,rgba(0,240,255,1) 90%,rgba(0,240,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(0,240,255,0) 0%,rgba(0,240,255,1) 10%,rgba(0,240,255,1) 90%,rgba(0,240,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000f0ff', endColorstr='#0000f0ff',GradientType=0 ); /* IE6-9 */
		}
	}
}
